DJANGO_SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,layernexus.oe5bpa.cloud
CSRF_TRUSTED_ORIGINS=https://layernexus.oe5bpa.cloud
DEBUG=1
SPOOLMAN_URL=https://spoolman.oe5bpa.cloud/
ALLOW_REGISTRATION=true
